# OpenRouter API
OPENROUTER_API_KEY=your_api_key_here
OPENROUTER_MODEL=openrouter/auto
OPENROUTER_URL=https://openrouter.api.com/api/v1

# Theirstack
THEIRSTACK_API_KEY=your_api_key_here
THEIRSTACK_API_URL=https://api.theirstack.com

# FastAPI
API_BASE_URL=http://localhost:8000
USER_SERVICE_URL=http://user-service:8001
USER_SERVICE_WEBHOOK_URL=http://user-service:8001/webhooks/cv

# Redis
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# MongoDB
MONGODB_URL=mongodb://mongodb:27017
MONGODB_DB=ai-service