OPENROUTER_API_KEY=sk-xxxxxxxxxxxxxxxx
OPENROUTER_MODEL=gpt-4o-mini
OPENROUTER_URL=https
APP_NAME=AI Service
THEIRSTACK_API_KEY=xxxxxxxxxxxxxxxx
THEIRSTACK_API_URL=xxxxxx
MONGODB_DB=ai-service
MONGODB_URL=xxxxx