# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/

# ----------------------
# Virtual environment
# ----------------------
.venv/
venv/
env/

# ----------------------
# Environment variables
# ----------------------
.env
.env.local
.env.*.local
!.env.example

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# IDEs
# ----------------------
# VSCode
.vscode/

# PyCharm
.idea/

# ----------------------
# MacOS
# ----------------------
.DS_Store

# ----------------------
# Test outputs
# ----------------------
.pytest_cache/
htmlcov/
coverage.xml

# ----------------------
# Misc
# ----------------------
*.bak
*.swp
*.swo

## pdf storage
/storage
/wyjscie